GITHUB_APP_ID=123456
GITHUB_INSTALLATION_ID=12345678
GITHUB_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----"
GITHUB_REPO_OWNER=PoloNX
GITHUB_REPO_NAME=SwitchU-Themes
GITHUB_DEFAULT_BRANCH=main
ALLOWED_ORIGIN=https://polonx.github.io